
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="form">
     
    <ion-item>
          <ion-label stacked >Nome</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
        <div [hidden]="!form.controls.nome.errors.required">
          Campo Obrigatorio
        </div>  

      </ion-item>

     
      <ion-item>
          <ion-label stacked >Pontos</ion-label>
          <ion-input type="number" formControlName="pontos"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.pontos.valid && (form.controls.pontos.dirty || form.controls.pontos.touched)" color="danger">
        <div [hidden]="!form.controls.pontos.errors.required">
          Campo Obrigatorio
        </div>  

      </ion-item>


      <ion-item>
          <ion-label>Colocar em Destaque</ion-label>
          <ion-checkbox color="red" checked="true" formControlName="destaque"></ion-checkbox>
        </ion-item>

      <div padding>
          <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
      </div>

    </form>

</ion-content>
