
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

  
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col col-12>

          <!--Formulario de cadastro de Recompensa-->
            <form *ngIf='!recompensa.key' [formGroup]="form">
     
                <ion-item>
                      <ion-label stacked >Nome</ion-label>
                      <ion-input type="text" formControlName="nome" ></ion-input>
                      <ion-icon name="person" item-end></ion-icon>
                  </ion-item>
                  <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
                    <div [hidden]="!form.controls.nome.errors.required">
                      Digite o nome do produto
                    </div>  
            
                  </ion-item>
            
                 
                  <ion-item>
                      <ion-label stacked >Pontos</ion-label>
                      <ion-input type="tel" formControlName="pontos"></ion-input>
                      <ion-icon name="pricetag" item-end></ion-icon>
                  </ion-item>
                  <ion-item *ngIf="!form.controls.pontos.valid && (form.controls.pontos.dirty || form.controls.pontos.touched)" color="danger">
                    <div [hidden]="!form.controls.pontos.errors.required">
                      Digite quantos pontos é preciso para resgatar
                    </div>  
            
                  </ion-item>


                  <ion-item>
                    <ion-label>dias para entrega</ion-label>
                    <ion-input type="number" formControlName="dias"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.dias.valid && (form.controls.dias.dirty || form.controls.dias.touched)" color="danger">
                  <div [hidden]="!form.controls.dias.errors.required">
                    Defina quantidade de dias para entrega
                  </div>  
          
                </ion-item>
            
            

                    <ion-item *ngIf="image">
                        <ion-avatar item-start>
                            <img src="{{ image }}">
                           </ion-avatar>
                    </ion-item>


                    <ion-row no-padding>
                        <ion-col col-12 text-center><p>Selecione uma Imagem</p></ion-col>
                        <ion-col col-6>
                          <button ion-button clear small color="primary" icon-left (click)="takePicture('picture')">
                            <ion-icon name='camera'></ion-icon>
                            Câmera
                          </button>
                        </ion-col>
                        <ion-col text-center col-6>
                          <button ion-button clear small color="primary" icon-left (click)="takePicture('gallery')">
                            <ion-icon name='albums'></ion-icon>
                            Galeria
                          </button>
                        </ion-col>
                  
                      </ion-row>

                   
                  <ion-item>
                      <ion-label>Colocar em Destaque</ion-label>
                      <ion-checkbox color="red" checked="true" formControlName="destaque"></ion-checkbox>
                      <ion-icon name="star" item-end></ion-icon>
                    </ion-item>
            
                  <div padding>
                      <button ion-button block type="submit" [disabled]="!image" (click)="onSubmit()">Salvar</button>
                  </div>
            
                </form>


                <!--===========================-->

                 <!--Formulario de Edição de Recompensa-->
            <form *ngIf='recompensa.key' [formGroup]="form">
     
                <ion-item>
                      <ion-label stacked >Nome</ion-label>
                      <ion-input type="text" formControlName="nome" ></ion-input>
                      <ion-icon name="person" item-end></ion-icon>
                  </ion-item>
                  <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
                    <div [hidden]="!form.controls.nome.errors.required">
                      Digite o nome do produto
                    </div>  
            
                  </ion-item>
            
                 
                  <ion-item>
                      <ion-label stacked >Pontos</ion-label>
                      <ion-input type="tel" formControlName="pontos"></ion-input>
                      <ion-icon name="pricetag" item-end></ion-icon>
                  </ion-item>
                  <ion-item *ngIf="!form.controls.pontos.valid && (form.controls.pontos.dirty || form.controls.pontos.touched)" color="danger">
                    <div [hidden]="!form.controls.pontos.errors.required">
                      Digite quantos pontos é preciso para resgatar
                    </div>  
            
                  </ion-item>
            
                  <ion-item>
                    <ion-label>dias para entrega</ion-label>
                    <ion-input type="number" formControlName="dias"></ion-input>
                </ion-item>
                <ion-item *ngIf="!form.controls.dias.valid && (form.controls.dias.dirty || form.controls.dias.touched)" color="danger">
                  <div [hidden]="!form.controls.dias.errors.required">
                    Defina quantidade de dias para entrega
                  </div>  
          
                </ion-item>
           

                   
                    
                  <ion-item>
                      <ion-label>Colocar em Destaque</ion-label>
                      <ion-checkbox color="red" checked="true" formControlName="destaque"></ion-checkbox>
                      <ion-icon name="star" item-end></ion-icon>
                    </ion-item>
            
                  <div padding>
                      <button ion-button block type="submit" [disabled]="!form.value" (click)="onSubmit()">Salvar</button>
                  </div>
            
                </form>


        </ion-col>
    </ion-row>

  </ion-grid>

  

</ion-content>
