page-configure {

    ion-icon {
        display: inline-block;
        font-size: 2.5em;
    }
    .cmenu{
       // border: solid 0.1rem;
        padding: 2rem;
        //color:#8A2BE2;
       //color: #FF7F50;
       color:#ffffff;
        height: 10rem;
      //  width: 10rem;
      background-color: #8A2BE2;
       
    }
    h4{
       // color: #FF7F50;
       color:#ffffff;
   // text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 1.3rem;
    }
}
