
<ion-header>

    <ion-navbar>
        <ion-row text-center>
            <ion-col col-4 >
              
                <ion-buttons>
                 <button  (click)="Pontos()" ion-button clear  > Meus Pontos <br>550
                </button> 
        </ion-buttons>

        </ion-col>
            <ion-col col-4 offset-2 > Olá Usuario <br> Bem Vindo!!! </ion-col>
            <ion-col col-2>
                        <ion-buttons end>
                            <button ion-button icon-only  (click)="voltarLogin()">
                              <ion-icon name="exit"></ion-icon>
                            </button>
                          </ion-buttons>
            </ion-col>
        </ion-row>
      </ion-navbar>
    

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12> <h4 text-center >Filtros</h4> </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12> 
                <!--<ion-item >   
                <ion-icon name="search" item-content ></ion-icon>
                <ion-searchbar (ionInput)="onInput($event)" placeholder="Filtre pelo Nome"></ion-searchbar>            
              </ion-item> -->
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col col-12> <h4 text-center>Troque seus Pontos

               
            </h4> </ion-col>
        </ion-row>
  
        <ion-row>
            <ion-col col-12>
                
                  <ion-list>     
                             <ion-item-sliding *ngFor="let recompensa of recompensas | async">  
                                 <ion-item (click)="abrirModal(recompensa)">
                                    <ion-avatar item-start>
                                     <img src="">
                                    </ion-avatar>
                                     <h2>{{recompensa.nome}}</h2>
                                     <p>{{recompensa.pontos}} Pontos</p>

                                     <button  color="secondary" ion-button  item-content clear>
                                            <ion-icon name="cart"> Resgatar</ion-icon>
                                          </button>
                                 </ion-item>

                                 <ion-item-options side="left"> 
                                    
                                    <button ion-button color="primary" (click)="editarRecomp(recompensa)">
                                        <ion-icon name="create"> Editar</ion-icon>
                                    </button>

                                    <button ion-button color="danger" (click)="removerRecomp(recompensa.key)">
                                            <ion-icon name="trash"> Remover</ion-icon>
                                        </button>
    

                                 </ion-item-options>

                            </ion-item-sliding>
                    </ion-list>
               
            
            </ion-col>
        </ion-row>
         
       
      </ion-grid>

      <ion-grid>

            <ion-row>
                    <ion-col col-12>
    
                            <ion-fab right botton  (click)="criarRecomp()">
                                    <button ion-fab color="secondary" item-content>
                                        <ion-icon name="add"></ion-icon></button>
                                        </ion-fab>      
    
                         
                    </ion-col>
                </ion-row>


          <ion-row>
              <ion-col col-12>
                  
                    <ion-buttons item-start>
                        <button (click)="meuResgate()" ion-button round outline icon-left>
                            <ion-icon name="list-box"></ion-icon>
                          Meus Resgates </button>  
                    </ion-buttons>                
                  
    
                 
              </ion-col>
            </ion-row>

           
      
      </ion-grid>

</ion-content>


 <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
<!--<ion-list *ngFor="let produto of produtos">
                    <ion-item >
                      
                      <ion-avatar item-start>
                        <img src="assets/imgs/produtos/iconProduto.png">
                      </ion-avatar>
                      <h2>{{produto.nome}}</h2>
                     <p>Resgate: {{produto.ponto }} pontos</p> 
                     
                     
                      <button (click)="abrirModal(produto)" color="secondary" ion-button icon-only item-content clear>
                          <ion-icon name="information-circle"></ion-icon>
                        </button>
                    </ion-item>
                
                  </ion-list> -->

                  <!-- <ion-buttons>
                        <button (click)="criarRecomp()" ion-button block round outline icon-left>
                            <ion-icon name="list-box"></ion-icon>
                          Add</button>  
                    </ion-buttons>       -->    