page-historico-resgate {

    
.icone{
    font-size: 2.5rem;
}

.iconeA{
    font-size: 2.5rem; 
    color: #8A2BE2;
}
.iconeS{
    font-size: 2.5rem; 
    color:gray;
}



/*
.barraVerde {
    width: 4rem;
    height:5px;
    background-color: green;   
    float: left;
    margin:20px 5px 5px 0;

}
.barraVerde2 {
    width: 4rem;
    height:5px;
    background-color: green;   
    float: left;
    margin:20px 5px 5px 0;

}

.barraCinza {
    width: 4rem;
    height:5px;
    background-color: grey;   
    float: left; 
    margin:20px 5px 5px 0;

}

.iconeVerde{
    font-size: 2rem; //Preferred size here
    float: left;
    color:green;
   
    
}

.iconeVerde2{
    font-size: 2rem; //Preferred size here
    float: left;
    color:green;
   
    
}


.iconePreto {
    font-size: 2rem; //Preferred size here
    float: left;
    color: grey;
   
}


.iconePreto2 {
    font-size: 2rem; //Preferred size here
    float: left;
    color: grey;
   
}


.texto{
    font-size: 1rem;
}
*/

}
