<ion-header>
    <ion-navbar>
        <ion-row text-center>
            <ion-col col-2> <!-- {{dataHoje}}--> </ion-col>
            <ion-col col-4 offset-4> Olá {{user.name}}
                <br> Bem Vindo!!! </ion-col>
            <ion-col col-2>
                <ion-buttons end>
                    <button ion-button icon-only (click)="sair()">
                        <ion-icon name="exit"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-navbar>

</ion-header>


<ion-content padding>

     <!--
             <ion-list >
            <ion-item-sliding *ngFor="let resgate of resgates | async">

                <ion-item *ngIf="resgate.status==='Aguardando' || resgate.status==='Solicitado'" >
                   
                   
                    <ion-avatar item-start>
                        <img src="{{ resgate.url }}" />
                    </ion-avatar>
                    <h2>{{resgate.prodNome}}</h2>
                    <p> {{resgate.userNome}} </p>
                    <p >{{resgate.dataResgate |date: 'dd/MM/yyyy'}}</p>

                    <button  ion-button item-content clear (click)="abrirModal(resgate)">
                            <ion-icon *ngIf="resgate.status === 'Aguardando'" class="iconeA" item-content name="clock"> Aguardando</ion-icon>
                            <ion-icon *ngIf="resgate.status === 'Solicitado'" class="iconeS" item-content name="paper-plane"> Solicitado</ion-icon>
                           </button>
                </ion-item>

                <ion-item-options side="left">

                        <button ion-button color="primary" (click)="editHist(resgate)">
                            <ion-icon name="create"> Editar</ion-icon>
                        </button>
                        <button ion-button color="danger" (click)="removerResgate(resgate.key)">
                            <ion-icon name="trash"> Remover</ion-icon>
                        </button>



                    </ion-item-options>

            </ion-item-sliding>
             </ion-list>
          
             <ion-infinite-scroll 
                threshold="20%" 
                (ionInfinite)="$event.waitFor(doInfinite())">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>   
             </ion-infinite-scroll>
            -->





   <ion-grid>
        <ion-row>
            <ion-col col-12>
                <h4 text-center> Resgates Gerais</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <div padding>
                    <ion-segment [(ngModel)]="status" color="primary">
                        <ion-segment-button value="solicitados">
                            <ion-icon name="clock"></ion-icon>
                            Solicitados
                        </ion-segment-button>
                        <ion-segment-button value="finalizados">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                            Finalizados
                        </ion-segment-button>
                    </ion-segment>
                </div>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <div [ngSwitch]="status">

                    <ion-list *ngSwitchCase="'solicitados'">
                           
                        <ion-item-sliding *ngFor="let resgate of resgates | async let i=index">
                               
                            <ion-item *ngIf="resgate.status==='Aguardando' || resgate.status==='Solicitado'">
                       
                      
                                 
                                <ion-avatar item-start>
                                    <img src="{{ resgate.url }}" />
                                </ion-avatar>
                                <h2>{{resgate.prodNome}}</h2>
                                <p> {{resgate.userNome}} </p>
                                <p >{{resgate.dataResgate |date: 'dd/MM/yyyy'}}</p>
                               


                                <button  ion-button item-content clear (click)="abrirModal(resgate)">
                                 <ion-icon *ngIf="resgate.status === 'Aguardando'" class="iconeA" item-content name="clock"> Aguardando</ion-icon>
                                 <ion-icon *ngIf="resgate.status === 'Solicitado'" class="iconeS" item-content name="paper-plane"> Solicitado</ion-icon>
                                </button>


                            </ion-item>



                            

                            <ion-item-options side="left">

                                <button ion-button color="primary" (click)="editHist(resgate)">
                                    <ion-icon name="create"> Editar</ion-icon>
                                </button>
                                <button ion-button color="danger" (click)="removerResgate(resgate.key)">
                                    <ion-icon name="trash"> Remover</ion-icon>
                                </button>



                            </ion-item-options>

                        </ion-item-sliding>


  

                    </ion-list>

                    
<!--finalizados-->
                            <ion-list *ngSwitchCase="'finalizados'">
                           
                                <ion-item-sliding *ngFor="let entregue of entregues | async let i=index">
                                       
                                    <ion-item >
                              
                              
                                         
                                        <ion-avatar item-start>
                                            <img src="{{ entregue.url }}" />
                                        </ion-avatar>
                                        <h2>{{entregue.prodNome}}</h2>
                                        <p > {{entregue.userNome}} </p>
                                     
                                       
        
        
                                        <button color="secondary" ion-button item-content clear (click)="abrirModal(entregue)">
                                            <ion-icon class="icone" item-content name="checkmark-circle-outline"> Entregue</ion-icon>
                                        </button>
        
        
                                    </ion-item>
        
        
        
                                    
        
                                    <ion-item-options side="left">
        
                                        <button ion-button color="primary" (click)="editHist(entregue)">
                                            <ion-icon name="create"> Editar</ion-icon>
                                        </button>
                                        <button ion-button color="danger" (click)="removerResgate(entregue.key)">
                                            <ion-icon name="trash"> Remover</ion-icon>
                                        </button>
        
        
        
                                    </ion-item-options>
        
                                </ion-item-sliding>
        
        
         
        
                            </ion-list>

                           
 


                            

                     

                </div>


            </ion-col>
        </ion-row>




    </ion-grid> 
 <!--   <ion-infinite-scroll 
    threshold="20%" 
    (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>   
 </ion-infinite-scroll>
 
 <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->

</ion-content>

