page-pontos {
    .segment-md .segment-button {
        color:#ffffff;
    }

    .segment-md-primary .segment-button {
        color:#ffffff;
    }


    .segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
        border-color: #ffffff;
        color: #ffffff;
        opacity: 1;
    }

    .icone{
        font-size: 2.5rem;
    }
}
