
<ion-header no-border no-padding >

  <ion-navbar [hideBackButton]='hideBackButton' no-border no-padding>
       <ion-title *ngIf="!searchBarOpen">Pontos</ion-title>
       
       <ion-searchbar   *ngIf="pontos==='Historico' && searchBarOpen" showCancelButton="true" (ionCancel)="barClick()" (ionInput)="getHist($event)"  placeholder="Filtre pelo CPF" [brmasker]="{mask:'000.000.000-00', len:14}"></ion-searchbar>
      <ion-searchbar *ngIf="pontos==='Inserir' && searchBarOpen" showCancelButton="true" (ionCancel)="barClick()" (ionInput)="getItems($event)"  placeholder="Filtre pelo CPF" [brmasker]="{mask:'000.000.000-00', len:14}"></ion-searchbar>
    
      <ion-buttons end>
        <button ion-button icon-only *ngIf="!searchBarOpen" (click)="barClick()">
            <ion-icon name="search" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

  <ion-toolbar >
       

        <ion-title *ngIf="pontos==='Historico'" text-center>Histórico</ion-title>
        <ion-title *ngIf="pontos==='Inserir'" text-center>Inserir Pontos</ion-title>
   
    
    <ion-segment  [(ngModel)]="pontos" color="primary" >
        <ion-segment-button   value="Inserir">
            <ion-icon name="add-circle"></ion-icon>
          Inserir Pontos
        </ion-segment-button>
        <ion-segment-button value="Historico">
            <ion-icon name="list-box"></ion-icon>
          Histórico
        </ion-segment-button>
      </ion-segment>
      
      
    </ion-toolbar>

</ion-header>


<ion-content padding>



<ion-grid>

<!--
    <ion-row>
        <ion-col col-12>
            <div padding>
                <ion-segment [(ngModel)]="pontos" color="primary" >
                  <ion-segment-button value="Inserir">
                      <ion-icon name="add-circle"></ion-icon>
                    Inserir Pontos
                  </ion-segment-button>
                  <ion-segment-button value="Historico">
                      <ion-icon name="list-box"></ion-icon>
                    Histórico
                  </ion-segment-button>
                </ion-segment>
              </div>

        </ion-col>
      </ion-row> -->
        
      <ion-row>
        <ion-col col-12>
            <div [ngSwitch]="pontos">

                <ion-list  *ngSwitchCase="'Inserir'">     
                  
                    

                
                  
  <ion-row>

      <ion-col col-12>
         
      </ion-col>
  </ion-row>

                    <ion-item-sliding *ngFor="let usuario of usuarios | async">  
                        <ion-item >

                            <ion-icon item-start item-content name="person-add"></ion-icon>

                            <h2>Usuario: {{usuario.name}}</h2> 
                            <p>CPF: {{usuario.cpf}}</p>
                            <p>{{usuario.pontos}} Pontos Atuais</p>
            
                            
                        </ion-item>
            
                        <ion-item-options side="left"> 
                           
                           <button ion-button color="primary" (click)="inserirPonto(usuario)">
                               <ion-icon name="create"> Inserir Pontos</ion-icon>
                           </button>
            
                         
                        </ion-item-options>
            
                   </ion-item-sliding>
            </ion-list>
            
              
                <ion-list *ngSwitchCase="'Historico'">
             



  <ion-row>

      <ion-col col-12>
         
      </ion-col>
  </ion-row>
                    <ion-item-sliding *ngFor="let nota of notas | async">  
                        <ion-item  (click)="viewNota(nota)">
                            <ion-icon  color="violet" item-content item-start name="list-box"></ion-icon>
                            <h2> #{{nota.nota}}</h2> 
                            <p ion-text color="dark">Usuario: {{nota.NomeUser}}</p>
                            <p >CPF: {{nota.cpf}}</p>
                            <p>{{nota.quantPontos}} pontos {{nota.status | lowercase}}</p>
                            <button color="secondary" ion-button item-content  item-end icon-only clear >
                            <ion-icon class="icone"  name="checkmark-circle-outline"> </ion-icon>
                                </button> 
                            
                        </ion-item>
            
            
                        <ion-item-options side="left"> 
                                    
                              

                                

                                <button ion-button color="danger" (click)="removerPonto(nota.key)">
                                        <ion-icon name="trash"> Remover</ion-icon>
                                    </button>

                             </ion-item-options>
             

                             
            
            
                   </ion-item-sliding>
                  
                </ion-list>
              </div>
        

        </ion-col>
      </ion-row>

</ion-grid>


<!---->
   
   


  

</ion-content>
